*{
    margin: 0;
    padding: 0;
}

html, body {
height: 100%;
}

#container {
    min-height: 100%;
}

#main {
    overflow: auto;
    padding-bottom: 100px;
    height: 20px;
}

#content { 
    font-size: 120%;
    
}

#footer {
    background-image: url("showybg.jpg");
    color: white;
    position: relative;
    height: 50px;
    margin-top: -50px;
    clear: both; 
    text-align:center;

}

#floatright { margin: 20px;
    float: right; }

#news {
    font-size: 120%;
    background-color:  #636631;;
    color: white;
}



