*{
    margin: 0;
    padding: 0;
}

html, body {
height: 100%;
}

#container {
    min-height: 100%;
}

#input[type=email] {
width: 20%;
}

.field{
    border-color: #43D9B8;
    border-style: solid;
}

#nav{
    
}
