*{
    margin: 0;
    padding: 0;
}

html, body {
height: 100%;
}

#container {
    min-height: 100%;
}

#main {
    overflow: auto;
    padding-bottom: 100px;
    height: 35px;
}

#content { 
    font-size: 120%;
    
}

#footer {
    color: white;
    position: relative;
    height: 50px;
    margin-top: -50px;
    clear: both; 
    text-align:center;

}

#floatright { margin: 20px;
    float: right; }

#news {
    font-size: 120%;
    background-color: #000066;
    color: white;
    border: solid white;
}

#border tbody th { 
    border-bottom: 1px #000066 solid;
    padding-left: 25px; }

tr:nth-of-type(even) { 
    background-color:skyblue;
    color: white; }

 tr:nth-of-type(odd) { 
        background-color: white;
        color:#000066; }
thead tr:first-of-type { background-color: rgb(255, 230, 0);
    color: black;
    font-weight: bold; }